.outer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Histogram{
     position: relative;
    height: 500px;
    width: 600px;     
}
@media (max-width:768px) {
    .outer{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .Histogram{
        
        height: 230px;
        width: 380px;     
    }
}