.outer{
    position: relative;
    display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   
}
.Histogram{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 35rem;
}

.freq{
    writing-mode: vertical-rl; /* vertical writing mode */
    transform: rotate(180deg); 
    background: linear-gradient(90.09deg, #5B07E3 0.12%, #B7238D 106.06%), #FFFFFF;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 900;
font-size: 3rem;
margin-right: 1.5rem;
}
.word{
    display: flex;
    justify-content: center;
    background: linear-gradient(90.09deg, #5B07E3 0.12%, #B7238D 106.06%), #FFFFFF;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 900;
font-size: 3rem;
}

/* @media (max-width:1970px) {
    
}
@media (max-width:998px) {
    .Histogram{
        height: 60rem;
        width: 43rem;     
    } 
    .freq{
        font-size: 3.5rem;
        margin-right: .01rem;
        }
        .word{
        font-size: 3.5rem;
        }
  
}


 */
 @media (max-width:768px) {

    .Histogram{
        height: 20rem;
        width: 18rem;     
    } 
    .freq{
    font-size: 1.5rem;
    margin-right: .15rem;
    }
    .word{
    font-size: 1.5rem;
    }

}
