.outer{
    background-color: azure;
    display: flex;
    width: 67%;
    height: 100%;
    padding-left: 35px;
    justify-content: left;
    align-items:end; 
   
}
.Histogram{
     position: relative;
    height: 450px;
    width: 680px;   
    margin-bottom: 50px; 
   
}
.freq{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    writing-mode: vertical-rl; /* vertical writing mode */
    transform: rotate(180deg); 
    background: linear-gradient(90.09deg, #5B07E3 0.12%, #B7238D 106.06%), #FFFFFF;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 900;
font-size: 50px;
line-height: 73px;
margin-right: 20px;
}
.word{
    display: flex;
    justify-content:center;
    align-items:end;
    background: linear-gradient(90.09deg, #5B07E3 0.12%, #B7238D 106.06%), #FFFFFF;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 900;
font-size: 50px;
line-height: 40px;
margin-bottom: 5px;
}

@media (max-width:768px) {
    .outer{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .Histogram{
        
        height: 230px;
        width: 380px;     
    }
}